<div class="header">
    <div>
        <img src="../../assets/images/lalit.jpg" alt="ajayImage">
    </div>
    <div class="title">
        <h1 class="title-name">CodeWithLalit</h1>
        <div class="nav">
            <ul>
                <li class="instagram">
                    <a href="https://instagram.com/codewithlalit?igshid=YmMyMTA2M2Y=" target="_blank"><i class="icon fa fa-instagram fa-2x"></i><b>Follow</b></a>
                </li>
                <li class="linedIn">
                    <a href="https://www.linkedin.com/in/lalit-kumar-b0a116157" target="_blank"><i class="fa fa-linkedin fa-2x"></i><b>Follow</b></a>
                </li>
                <li class="youTube">
                    <a href="https://www.youtube.com/@lalitkumar1106" target="_blank"><i class="icon fa fa-youtube fa-2x"></i><b>Subscribe</b></a>
                </li>
                <li class="twitter">
                    <a href="https://mobile.twitter.com/lalit11121998" target="_blank"><i class="icon fa fa-twitter fa-2x"></i><b>Follow</b></a>
                </li>
            </ul>
        </div>
    </div>
</div>
